@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

html {
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
nav,
section,
p,
ul,
li,
ol,
dl,
dt,
dd,
div,
figure,
figcaption,
img {
  margin: 0;
  padding: 0;
  font-weight: 100%;
  list-style: none;
}
abbr {
  text-decoration: none;
}
a {
  color: #222;
  text-decoration: none;
}
h1 {
  font-family: "Spartan";
}
:root {
  --color-primary: #ff5f52;
  --color-primaty-dark: #8e0000;
  --color-white: #fafafa;
  --color-white-secondary: #6d6d6d;
  --color-dark: #c7c7c7;
  --color-dark-secondary: #1b1b1b;
  --color-font: black;
  --color-font-secondary: white;
  --color-valid: green;
  --color-danger: red;
}
