@font-face {
  font-family: "Matrix";
  src: url("../assets/font/matrix.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
}
body {
  font-size: 1.6;
  font-family: "Source Code Pro", monospace;
}
* {
  box-sizing: border-box;
  outline: none;
}
body,
h1,
h2,
h3,
h4,
nav,
section,
p,
ul,
li,
ol,
dl,
dt,
dd,
div,
figure,
figcaption,
img {
  margin: 0;
  padding: 0;
  font-weight: 100%;
  list-style: none;
}
abbr {
  text-decoration: none;
}
a {
  color: #222;
  text-decoration: none;
}
:root {
  --color-dark: #000;
  --color-dark-light: #000;
  --color-grey: #555555;
  --color-light: #fff;
  --color-blue: blue;
  --color-red: red;
  --color-green: #55ff55;
  --color-black-transparent: rgba(0, 0, 0, 0.5);
}
h2 {
  border-top: solid 0.01rem var(--color-green);
  padding: 2rem;
}

/*First Mobile*/
body,
a {
  background-color: var(--color-dark-light);
  color: var(--color-green);
}
/*Header*/
header > h1 {
  text-align: center;
}
header > h1 > a {
  font-size: 1.6rem;
  color: var(--color-green);
}
header > h1 > a::before {
  content: "root@web:/home/";
}
header > h1 > a::after {
  content: "#";
}
header {
  display: block;
  margin: auto;
}
header > nav {
  overflow-x: scroll;
  overflow-y: hidden;
}
#menu {
  height: 10vh;
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}
#menu li {
  flex-shrink: 0;
  max-width: 100%;
}
#menu li a {
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 0 0.8rem;
  color: var(--color-green);
}
#menu li > a::before,
h2::before {
  content: "/";
}
/*****/
main > section:first-child {
  height: 90vh;
}
main > section:first-child > p {
  padding: 1rem;
}
main > section > figure {
  display: none;
}
/*Skills*/
#skills > ul > li > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
#skills li {
  font-size: 1.4rem;
  padding: 0 1rem;
}
#skills li:last-child {
  padding-bottom: 2rem;
}
#skills i {
  display: inline-block;
  display: none;
  font-size: 3rem;
  padding: 1rem;
  color: var(--color-green);
}

#skills h3 {
  text-align: center;
  padding: 1rem 0 0;
}
#skills > ul > li:first-child > h3 {
  padding: 0;
}
#skills > ul > li > a {
  display: block;
  text-align: center;
  text-decoration: underline;
}

/*Portfolio*/
#portfolio img {
  width: 100vw;
  border-radius: 0.2rem;

}
#portfolio figcaption {
  display: none;
}

#portfolio > ul > li {
  padding: 2rem 0;
}
#portfolio > ul > li:first-child {
  padding-top: 0;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}

.thumbnail {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  background: #000;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.5);
}
.thumbnail img {
  display: block;
  max-width: 100%;
  transition: opacity 0.2s ease-in-out;
}
.thumbnail:hover img {
  opacity: 0.5;
}
.thumbnail::after,
.thumbnail::before {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 50%;
  transition: transform 0.4s ease-out;
  color: #fff;
}
.thumbnail::after {
  content: attr(data-title);
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 2.4rem;
  font-weight: bolder;
  padding: 4rem 0;
}
.thumbnail::before {
  content: attr(data-description);
  top: 50%;
  background: var(--color-black-transparent);
  backdrop-filter: blur(10px);
  color: var(--color-light);
  font-size: 1rem;
  padding: 2rem;
}
.thumbnail:hover::after,
.thumbnail:hover::before {
  transform: translateY(0%) scale(1);
}

/*About*/
#about p {
  padding: 0 1rem 1rem 1rem;
}
#about > a {
  display: block;
  text-align: center;
  text-decoration: underline;
}
/*Footer*/
footer {
  margin-top: 2rem;
  border-top: solid 0.1rem var(--color-green);
}
footer p {
  padding: 1rem;
}
footer section ul {
  display: flex;
  justify-content: space-around;
}

footer a {
  color: var(--color-green);
  padding-bottom: 1rem;
}
footer > a {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 2rem;
  font-size: 1.4rem;
  z-index: 10;
  background: none;
}

footer .fab,
footer i {
  display: none;
}

@media screen and (min-width: 600px) {
  h2 {
    font-size: 2.8rem;
    font-weight: lighter;
  }
  main > section:first-child > p {
    font-size: 1.8rem;
    padding: 4rem;
  }
  header h1 a {
    font-family: "Matrix";
    font-size: 4rem;
    font-weight: lighter;
    color: var(--color-light);
  }
  header > h1 > a::before,
  header > h1 > a::after {
    content: "";
  }
  header > nav {
    overflow-x: unset;
    overflow-y: unset;
  }
  header nav ul {
    justify-content: space-around;
  }
  nav ul li a {
    font-size: 2rem;
  }
  #menu {
    flex-wrap: wrap;
  }
  /* Welcome */

  /* Skills */
  #skills h3 {
    font-size: 2.2rem;
  }
  #skills li {
    font-size: 2rem;
    padding: 1rem;
  }
  /* Portfolio */
  #portfolio > ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  #portfolio > ul > li:first-child {
    padding-top: 2rem;
  }
  #portfolio > ul > li {
    padding: 2rem;
  }
  #portfolio img {
    width: 28rem;
    height: 28rem;
  }
  .thumbnail::after {
    transform: translateY(-100%) scale(0.8);
    font-size: 2.8rem;
  }
  .thumbnail::before {
    color: var(--color-light);
    transform: translateY(100%) scale(0.8);
    font-size: 1.6rem;
  }
  /* About */
  #about p {
    font-size: 1.6rem;
    padding: 0 4rem;
  }
  #about a {
    font-size: 1.8rem;
    padding-bottom: 2rem;
  }

  /* Footer */
  footer {
    font-size: 1.2rem;
    padding: 1rem 0 3rem;
  }
}
