html {
  scroll-behavior: smooth;
}
body {
  font-size: 1.6;
  font-family: "Source Code Pro", monospace;
}
* {
  box-sizing: border-box;
  outline: none;
}
body,
h1,
h2,
h3,
h4,
nav,
section,
p,
ul,
li,
ol,
dl,
dt,
dd,
div,
figure,
figcaption,
img {
  margin: 0;
  padding: 0;
  font-weight: 100%;
  list-style: none;
}
abbr {
  text-decoration: none;
}
a {
  color: #222;
  text-decoration: none;
}
:root {
  --color-dark: #000;
  --color-dark-light: #000;
  --color-grey: #555555;
  --color-light: #fff;
  --color-blue: blue;
  --color-red: red;
  --color-green: #55ff55;
  --color-black-transparent: rgba(0, 0, 0, 0.5);
}
h2 {
  border-top: solid 0.01rem var(--color-green);
  padding: 2rem;
}

/*First Mobile*/
body,
a {
  background-color: var(--color-dark-light);
  color: var(--color-green);
}

#welcome p {
  font-size:1.4rem ;
  padding: 2rem;
  color: var(--color-green);
  text-shadow: 0 0 0 transparent, 0 0 1rem var(--color-green);}
#welcome ul{
  width: 100vw;
  display: flex;
justify-content: space-around;
  position:fixed;
  bottom: 2rem;
}
#red-pill {
  background-color: var(--color-red);
}
#blue-pill{
  background-color: var(--color-blue);
}
#red-pill,
#blue-pill{
  width: 2rem;
  height: 5rem;
  margin: 0 auto;
  border-radius: 500px;
  transform: rotate(45deg);
  border: solid 0.1rem var(--color-light);
  cursor: pointer;
}
#red-pill:hover,
#blue-pill:hover{
  transform: scale(1.1);
  transition: 1s;
}
#red-pill:active,
#blue-pill:active{
  transform: scale(0.9);
  transition: 0.5s;
}

header > h1 {
  text-align: center;
  font-weight: lighter;
}
header > h1 > a {
  font-size: 1.6rem;
  color: var(--color-green);
}
header > h1 > a::before {
  content: "root@web:/home/";
}
header > h1 > a::after {
  content: "#";
}
header {
  display: block;
  margin: auto;
}
header > nav {
  overflow-x: scroll;
  overflow-y: hidden;
}
#menu {
  height: 10vh;
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}
#menu li {
  flex-shrink: 0;
  max-width: 100%;
}
#menu li a {
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 0 0.8rem;
  color: var(--color-green);
}
#menu li > a::before,
h2::before {
  content: "/";
}
@media screen and (min-width: 600px) {
#welcome p{
  padding: 4rem;
}
#welcome ul{
  bottom: 8rem
}

}