@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
html {
  scroll-behavior: smooth; }

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  margin: 0; }

* {
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
nav,
section,
p,
ul,
li,
ol,
dl,
dt,
dd,
div,
figure,
figcaption,
img {
  margin: 0;
  padding: 0;
  font-weight: 100%;
  list-style: none; }

abbr {
  text-decoration: none; }

a {
  color: #222;
  text-decoration: none; }

h1 {
  font-family: 'Spartan'; }

@media screen and (max-width: 759px) {
  .title {
    display: inline-block;
    padding: 1.5rem 0rem 1rem 1rem; }

  .material-icons {
    font-size: 24px;
    margin-right: 12px;
    vertical-align: text-bottom; }

  .menu {
    background: var(--color-white);
    color: var(--color-dark-secondary); }

  nav {
    font-weight: bold;
    height: 0;
    overflow: hidden;
    text-transform: uppercase;
    transition: height 0.2s; }
    nav ul {
      display: flex;
      flex-direction: column;
      text-align: center; }
      nav ul li {
        padding: 1rem;
        font-size: 1rem; }

  .menu .burger {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    color: inherit;
    cursor: pointer;
    font-size: 2rem;
    outline: 0;
    position: absolute;
    text-align: center;
    top: 1rem;
    right: 1rem; }

  .menu .burger:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0c9"; }

  .menu .burger:checked:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00d"; }

  .menu .burger:checked + nav {
    height: 100%; } }
@use 'base';
section {
  max-height: 100%;
  max-width: 100%;
  border-top: 0.01rem solid #6d6d6d; }

#welcome {
  max-height: calc(100vh - 2rem); }

@use 'base';
header > h1 {
  font-size: 1.6rem; }

#welcome p {
  padding: 2rem 4rem;
  font-family: monospace;
  line-height: 2rem; }
#welcome img {
  display: block;
  width: 8rem;
  margin: 0 auto; }

#skills {
  padding: 2rem; }
  #skills h3 {
    padding-top: 1rem; }
  #skills a {
    font-weight: bolder;
    text-decoration: underline; }
  #skills ul {
    text-align: center; }
    #skills ul li {
      display: inline;
      text-align: center; }
      #skills ul li i {
        display: inline-block;
        font-size: 4rem;
        padding: 1rem; }

#portfolio {
  padding: 2rem; }
  #portfolio ul li {
    margin: 1rem auto;
    width: 100%;
    padding: 1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    border-radius: 0.2rem; }
  #portfolio ul figure a img {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 0.2rem;
    max-width: 100%;
    max-height: 100%; }
  #portfolio ul figcaption {
    text-align: center;
    padding-top: 1rem; }
    #portfolio ul figcaption i {
      display: inline-block;
      font-size: 2.4rem;
      padding: 1rem; }
  #portfolio ul #GSAP a > img {
    width: 100%; }
  #portfolio ul #GSAP figcaption p img {
    display: inline-block;
    height: 2.4rem;
    margin-left: 1rem; }
  #portfolio dl {
    background-color: #1b1b1b;
    border-radius: 0.2rem;
    padding: 2rem;
    color: #fff;
    font-family: monospace;
    text-align: center; }
    #portfolio dl dd {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 2rem; }
      #portfolio dl dd div {
        margin: 0 0.2rem; }

#about {
  padding: 2rem;
  text-align: center; }
  #about h2 {
    padding-bottom: 1rem; }
  #about p {
    line-height: 2.2rem; }
  #about #cv {
    text-decoration: underline;
    font-weight: bolder; }

footer {
  background-color: #1b1b1b; }
  footer h3 {
    padding: 2rem 0 0 2rem;
    color: #fafafa; }
  footer ul {
    background-color: #1b1b1b;
    text-align: center; }
    footer ul li {
      display: inline; }
      footer ul li i {
        color: #fafafa;
        padding: 1.6rem;
        font-size: 2rem; }

footer > a {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0.8rem;
  padding: 1rem;
  z-index: 10;
  color: rgba(0, 0, 0, 0.55);
  background: rgba(250, 250, 250, 0.1);
  border-radius: 10rem; }

@use 'base';
#portfolio ul li:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

@use 'base';
@use 'base';
@media screen and (min-width: 760px) {
  h2 {
    padding: 2.4rem; }

  header h1 {
    font-size: 2.4rem;
    padding: 1.4rem;
    text-align: center;
    cursor: none; }
  header input {
    display: none; }
  header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    header nav ul li {
      text-align: center;
      padding-bottom: 1rem; }
      header nav ul li a {
        display: block;
        height: 100%;
        width: 100%; }

  #welcome {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0; }
    #welcome p {
      letter-spacing: 0.08rem;
      font-size: 2rem;
      line-height: 4rem;
      font-size: 1.8rem;
      width: 100%; }
    #welcome img {
      width: 16.5rem;
      right: 10rem;
      position: relative;
      bottom: 0; }

  #skills ul li {
    padding: 2rem; }

  #portfolio ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    #portfolio ul li {
      width: 28rem; }
  #portfolio dl {
    margin: 1rem; }

  #about {
    text-align: left; }
    #about p {
      letter-spacing: 0.08rem;
      padding: 0 4rem 4rem 4rem;
      font-size: 1.6rem;
      line-height: 2.472rem; }
    #about #cv {
      display: block;
      margin: 0 auto;
      text-align: center;
      padding-bottom: 4rem;
      font-size: 2rem; } }
@use 'base';
@media screen and (min-width: 760px) {
  nav ul li:hover {
    transition: 0.4s;
    transform: scale(1.1); }

  nav ul li:active {
    transition: 0.4s;
    transform: scale(0.9); }

  #portfolio figure img {
    filter: blur(0.16rem); }

  #portfolio figure img:hover {
    transition: 0.4s;
    filter: blur(0); }

  #about > a:hover {
    transition: 0.4s;
    transform: scale(1.02); } }

/*# sourceMappingURL=style.css.map */
