@media screen and (min-width: 760px) {
  nav ul li:hover {
    transition: 0.4s;
    transform: scale(1.1);
  }

  nav ul li:active {
    transition: 0.4s;
    transform: scale(0.9);
  }

  #portfolio ul li:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  #portfolio figure a > img {
    filter: blur(0.16rem);
  }

  #portfolio figure a > img:hover {
    transition: 0.4s;
    filter: blur(0);
  }

  #about > a:hover {
    transition: 0.4s;
    transform: scale(1.02);
  }

  #contact form p input:focus,
  #contact form button:focus {
    outline: none;
  }
  #contact form button:hover {
    transform: scale(1.1);
  }
}
