@use 'base';

header>h1{
  font-size: 1.6rem;
}

#welcome {
  p {
    padding: 2rem 4rem;
    font-family: monospace;
    line-height: 2rem;
  }
  img {
    display: block;
    width: 8rem;
    margin: 0 auto;
  }
}
#skills {
  padding: 2rem;
  h3 {
    padding-top: 1rem;
  }
  a {
    font-weight: bolder;
    text-decoration: underline;
  }
  ul {
    text-align: center;
    li {
      display: inline;
      text-align: center;
      i {
        display: inline-block;
        font-size: 4rem;
        padding: 1rem;
      }
    }
  }
}

#portfolio {
  padding: 2rem;
  ul {
    li {
      margin: 1rem auto;
      width: 100%;
      padding: 1rem;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      border-radius: 0.2rem;
    }
    figure a img {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      border-radius: 0.2rem;
      max-width: 100%;
      max-height: 100%;
    }
    figcaption {
      text-align: center;
      padding-top: 1rem;
      i {
        display: inline-block;
        font-size: 2.4rem;
        padding: 1rem;
      }
    }
    #GSAP {
      a > img {
        width: 100%;
      }
      figcaption p img {
        display: inline-block;
        height: 2.4rem;
        margin-left: 1rem;
      }
    }
  }
  dl {
    background-color: $color-dark-secondary;
    border-radius: 0.2rem;
    padding: 2rem;
    color: $color-font-secondary;
    font-family: monospace;
    text-align: center;
    dd {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 2rem;
      div {
        margin: 0 0.2rem;
      }
    }
  }
}

#about {
  padding: 2rem;
  text-align: center;
  h2 {
    padding-bottom: 1rem;
  }
  p {
    line-height: 2.2rem;
  }
  #cv {
    text-decoration: underline;
    font-weight: bolder;
  }
}

footer {
  h3 {
    padding: 2rem 0 0 2rem;
    color: $color-white;
  }
  ul {
    background-color: $color-dark-secondary;
    text-align: center;

    li {
      display: inline;
      i {
        color: $color-white;
        padding: 1.6rem;
        font-size: 2rem;
      }
    }
  }
  background-color: $color-dark-secondary;
}

footer > a {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0.8rem;
  padding: 1rem;
  z-index: 10;
  color: rgba(0, 0, 0, 55%);
  background: rgba(250, 250, 250, 10%);
  border-radius: 10rem;
}
