@use 'base';

@media screen and (min-width: 760px) {
    h2{
        padding: 2.4rem;
    }
  header {
    h1 {
      font-size: 2.4rem;
      padding: 1.4rem;
      text-align: center;
      cursor: none;
    }
    input {
      display: none;
    }
    nav {
      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        li {
          text-align: center;
          padding-bottom: 1rem;
          a {
            display: block;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
  #welcome {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    p {
      letter-spacing: 0.08rem;
      font-size: 2rem;
      line-height: 4rem;
      font-size: 1.8rem;
      width: 100%;
    }
    img {
      width: 16.5rem;
      right: 10rem;
      position: relative;
      bottom: 0;
    }
  }
  #skills {
    ul {
      li {
        padding: 2rem;
      }
    }
  }
  #portfolio {
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      li {
        width: 28rem;
      }
    }
    dl{
      margin: 1rem;
    }
  }

  #about {
    text-align: left;
    p {
    letter-spacing: 0.08rem;
    padding: 0 4rem 4rem 4rem;
    font-size: 1.6rem;
    line-height: 2.472rem;

    }
    #cv{
        display: block;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 4rem ;
        font-size: 2rem;
    }
  }
}
