/*reset*/
@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

h1,
h2,
section,
div,
ul,
li,
img {
    margin: 0;
    padding: 0;
    font-weight: 100%;
    list-style: none;
}

a {
    color: #222;
    text-decoration: none;
}

/* Theme */
:root {
    --color-valid: #2ecc71;
    --color-error: #e74c3c;
    --color-primary: #ecf0f1;
    --color-primaryDark: #bdc3c7;
    --color-secondary: #34495e;
    --color-SecondaryDark: #2c3e50;
}

header h1 {
    text-align: center;
    padding: 2rem;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    text-transform: uppercase;
}

main {
    margin: 2rem auto;
    width: 80vw;
    height: 80vh;
    border: 0.1rem solid var(--color-secondary);
}

.header {
    width: 100%;
    height: 10rem;
    background-color: var(--color-secondary);
    position: relative;
}

/* Header */
.clear {
    width: 1rem;
    height: 1rem;
    position: absolute;
    right: 2rem;
    top: 1rem;
}

.clear i {
    font-size: 2rem;
    color: var(--color-primary);
}

.clear i:hover {
    cursor: pointer;
    transform: rotate(45deg);
    transition: 0.5s;
}

#date {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: var(--color-primary);
    font-size: 2rem;
    text-transform: capitalize;
}

/* Content */
.content {
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    overflow: auto;
}

.content::-webkit-scrollbar {
    display: none;
}

.item {
    width: 100%;
    position: relative;
    border-bottom: 0.1rem solid var(--color-primaryDark);
    list-style: none;
}

.item i.co {
    font-size: 2rem;
    padding: 0.6rem;
}

.item i.co:hover {
    cursor: pointer;
}

.fa-check-circle {
    color: var(--color-valid);
}

.item p.text {
    display: inline;
    font-size: 2rem;
}

.lineThrough {
    text-decoration: line-through;
    color: var(--color-primaryDark);
}

.item i.de {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 2rem;
}

.item i.de:hover {
    color: var(--color-error);
    cursor: pointer;
}

/* ------------ add item ------------ */
.add-to-do {
    display: flex;
}

.add-to-do i {
    font-size: 2rem;
    padding: 1rem;
    color: var(--color-secondary);
}

.add-to-do input {
    width: 80%;
    height: 4rem;
    color: var(--color-secondary);
    font-size: 20px;
}
#input{
    border: none;
}