:root {
    --color-primary: #f1c40f;
    --color-secondary: #f39c12;
    --color-backprimary: #ecf0f1;
    --color-backsecondary: #bdc3c7;
    --color-font: #444;
  }
  body {
    color: var(--color-font);
  }
  h1 {
    font-family: "Pacifico", cursive;
    color: var(--color-primary);
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  /*theme*/
nav ul {
  background-color: var(--color-backprimary);
  margin: 0 auto;
  text-align: center;
  width: 100%;
  position: fixed;
  z-index: 2;
}
nav ul li {
  display: inline-block;
  padding: 1rem 2rem;
}
nav ul li a{
  display: block;
  width: 100%;
  padding: 0.5rem;
}
nav ul li a:hover{
  transition: 0.5s;  
  border-top: 1px solid var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
}
  h2 {
    text-align: center;
    padding: 1rem;
  }
  #divnav{
    height: 6.5rem;
  }
  main{
    background: url(../assets/img_gal/q-u-i-tnNX2GJyJjQ-unsplash.gif) no-repeat
    fixed center/cover;
    width: 100vw;
    height: 84vh;
    
  }
#about{
  
  color: black;
  font-size: 2rem;
  text-align: center;
  background-color: var(--color-backprimary);
  height: 100%;
  opacity: 0.95;
}
  main section p{
      padding: 4rem;
  }
  main figure{
      padding: 4rem;
  }
main figure img{
      
    width: 20rem;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
footer {
    background-color: var(--color-backprimary);
    padding: 1rem;
  }
  
  footer ul {
    text-align: center;
  }
  footer ul li {
    display: inline;
    padding: 1rem;
  }
  footer ul li a {
    color: var(--color-secondary);
  }
  
  footer p {
    text-align: center;
    margin: 1rem;
    font-size: small;
    color: #999999;
  }
  @media screen and (max-width: 425px) {
    
  header nav ul{
        position: relative;
    }
    header nav ul li{
      display: block;
      padding: 0rem;
    }
   header nav ul li a{
     display: block;
     
     padding: 0.5rem;
    height: 100%;
     width: 100%;
    
    }
    
  main{
    display: block;
    height: 100%;
      font-size: 1rem;
      margin-top: -7rem;
}
main section{
    
    padding: 4rem 1rem 0 0 ;
    background-color: var(--color-backprimary);
    opacity: 0.90;
    width: 100%;
}
main section p{
    padding: 1rem;
}
main figure{
    padding: 4rem ;
  background-color: var(--color-backprimary);
}
main figure img{
    
  width: 10rem;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
  }
  