:root {
  --color-primary: #f1c40f;
  --color-secondary: #f39c12;
  --color-backprimary: #ecf0f1;
  --color-backsecondary: #bdc3c7;
  --color-font: #444;
}
body {
  color: var(--color-font);
}
h1 {
  font-family: "Pacifico", cursive;
  color: var(--color-primary);
  font-size: 2rem;
  padding-bottom: 1rem;
}
/*theme*/nav ul {
  background-color: var(--color-backprimary);
  margin: 0 auto;
  text-align: center;
  width: 100%;
  position: fixed;
  z-index: 2;
}
nav ul li {
  display: inline-block;
  padding: 1rem 2rem;
}
nav ul li a{
  display: block;
  width: 100%;
  padding: 0.5rem;
}
nav ul li a:hover{
  transition: 0.5s;  
  border-top: 1px solid var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
}

#divnav{
  height: 6.5rem;
}
h2 {
  text-align: center;
  padding: 1rem;
}
/*main*/
main {
  background: url(../assets/img_gal/q-u-i-tnNX2GJyJjQ-unsplash.gif) fixed center;
  height: 100vh;
}
#contact {
  background-color: var(--color-backprimary);
  padding: 4rem;
  margin: 0 auto;
  width: 50%;
  border: 1px solid var(--color-backsecondary);
  border-top: none;
  border-radius: 0 0 10px 10px;
}
fieldset {
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 0 2rem 2rem 2rem;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
legend {
  text-transform: uppercase;
  text-align: left;
  font-size: 1.6rem;
  padding: 1rem;
}
label {
  display: block;
  padding: 1rem 0 0.5rem 0;
}
input,
textarea {
  border: none;
  border-radius: 10px;
  padding: 0.4rem;
}

fieldset > ul > li:last-of-type {
  padding-top: 1rem;
  text-align: center;
}
button {
  cursor: pointer;
  border-radius: 1rem;
  padding: 0.5rem;
  border: 1px solid var(--color-primary);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

  background-color: var(--color-backprimary);
}
button:hover{
  transition: 0.5s;
  transform: scale(1.2);
  background-color: var(--color-primary);
  font-weight: bold;
  color: var(--color-font);
}

textarea {
  width: 100%;
}

/*footer*/
footer {
  background-color: var(--color-backprimary);
  padding: 1rem;
}

footer ul {
  text-align: center;
}
footer ul li {
  display: inline;
  padding: 1rem;
}
footer ul li a {
  color: var(--color-secondary);
}

footer p {
  text-align: center;
  margin: 1rem;
  font-size: small;
  color: #999999;
}

@media screen and (max-width: 425px) {
  
  header nav ul {
    position: relative;
  }
  header nav ul li {
    display: block;
    padding: 0rem;
  }
  header nav ul li a {
    display: block;

    padding: 0.5rem;
    height: 100%;
    width: 100%;
  }
  #divnav{
    height: 0rem;
  }
#contact {
  background: none;
  padding: 8rem 0 0 0 ;
  margin: 0 auto;
  width: 100%;
  border: none;
  border-top: none;
  border-radius: none;
}
fieldset {
  width: 100%;
  margin-top: 6rem;
  background-color: var(--color-backprimary);
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 0 2rem 2rem 2rem;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
legend {
  background-color: var(--color-backprimary);
  border: 1px solid var(--color-backsecondary);
  border-radius: 1rem;
  padding: 0.1rem 1rem;
  color: var(--color-font);

}
}