/*reset*/
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
nav,
section,
p,
ul,
ol,
dl,
dt,
dd,
input,
fieldset,
legend,
textarea,
figure,
figcaption,
img {
  margin: 0;
  padding: 0;
  font-weight: 100%;
  list-style: none;
}
abbr {
  text-decoration: none;
}
a {
  color: #222;
  text-decoration: none;
}
